<html>
    <head>
        <link rel="stylesheet" href="../stylesheet/style.css">
    </head>
    <body class="adpage">
        <%-include('header2')-%>
    <!-- <form action="/storedata" method="post">

      Name:  <input type="text" name="name">
     Price:  <input type="text" name="age">
     Img: <input type= "img">

    
        <input type="submit">
    </form>  -->


    <form  class ="second" action="/storedata" method="post">
        <h2>Add Book</h2>
    
        <input type="text" name="name" placeholder=" Name"  class="ini"> <br>
        
        <input type="number" name="age" placeholder="Price" class="ini">

    <br>
   <input type="text" name="img"   placeholder="image url" class="ini">
   <br>
   <input type="text" name="summary"  placeholder="summary" class="ini">
        <button class="but" type="submit">Sumit</button>
      </form>
     


    </body>
</html>























<style>
    .second{
        margin-top: 7%;
        margin-left: 40%;
       
    }
</style>