<html>
  <head>
   
  </head>
 <body>
   
<header>
      
<nav>
  
  <ul>
   
 <li><img src="https://s.cdpn.io/profiles/user/3782922/80.jpg?1573241964" height="40px" /></li> 
   
   <li><a href="/" class="active">Home</a></li>
   
   
 </ul>
 </nav>
        
          
    </header>
 </body>
</html>




<style>
   

nav{
  height:100px;
  width:100%;
  
  background-color: rgb(65, 208, 252);
}

ul {
  
  margin-left: 60px;
}
ul li {
 
  list-style: none;
  float: left;
  
  display: inline-block;
 
  line-height: 100px;
  
}
ul li a {

  text-decoration: none;

  color: black;
 
  display: block;
  
  padding: 0px 20px;
 
  font-size: 16px;
  
  font-family: arial;
  
}


ul li a:hover {
  color: rgb(0, 255, 94);
}


ul a.active {
  color: red;
}


h1.color {
  color: white;
  text-align: center;
}

img {
  margin-top: 25px;
}
</style>