<html>

<head>
    <link rel="stylesheet" href="../stylesheet/style.css">
</head>
    <body>
        <%-include('header')-%>
        <!-- <h2>Sign up page</h2>
        <form action="/signup" method="post">
    Name:<input type="text" name="name">
     Password:<input type="password" name="password">
     <input type="submit">
        </form> -->

        <!-- //------ -->

<div class="bodi">
        <form  class ="second" action="/signup" method="post">
            <h2>Sign Up</h2>
        
            <input type="text" name="name" placeholder=" Name"  class="ini"> <br>
            
            <input type="password" name="password" placeholder="Password" class="ini">
        <br>
            <button class="but" type="submit">Sign Up</button>
          </form>
        
          <div class="login-link">
            <a href="/">I already have an account.</a>
          </div>

        </div>

     
        
        
    </body>
</html>